language: python
python:
  - "2.7"
  - "3.3"
# command to install dependencies
install: 
  - "pip install nose flake8 pylint --use-mirrors"
# command to run tests
script: 
  - nosetests
  - flake8 tyrant
  - pylint tyrant